body {
	background: white;
}

nav {
	background: pink;
	display: flex;
	flex-flow: row, nowrap;
	justify-content: space-around;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-flow: row, nowrap;
	justify-content: space-between;
}

nav ul li {
	display: flex;
	flex-flow: row, nowrap;
	justify-content: space-around;
	align-items: center;
}

nav ul li p {
	font-size: 2.5em;
}